asgiref==3.4.1
astroid==2.6.2
autopep8==1.5.4
boto3==1.17.38
botocore==1.20.38
Django==3.1.5
django-cors-headers==3.7.0
django-extensions==3.1.1
django-filter==2.4.0
django-redis==4.12.1
django-rest-passwordreset==1.1.0
django-storages==1.11.1
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
flake8==3.9.0
gunicorn==20.0.4
isort==5.9.1
jmespath==0.10.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
model-bakery==1.2.1
Pillow==8.1.2
psycopg2==2.8.6
pycodestyle==2.7.0
pyflakes==2.3.1
PyJWT==2.0.1
pylint==2.9.3
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2021.1
redis==3.2.0
s3transfer==0.3.6
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
urllib3==1.26.6
wrapt==1.12.1
